.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px;
  }
  
  .search-bar input {
    flex: 1;
    border: none;
    padding: 4px 8px;
    font-size: 16px;
    outline: none;
  }
  
  .search-bar input::placeholder {
    color: #999;
  }
  
  .search-bar button {
    background-color: #0077cc;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 8px;
  }
  
  .search-bar button:hover {
    background-color: #165484;
  }

  .submitButton {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 475px;
    margin-left: 35px;
    margin-top: 0px;
    background: #cd22b9;
    font-size: 18px;
    border-radius: 64px;
    top: 0;
    }
