.question {
    display: flex;
    flex-direction: column;
    /* width: 200px; */
    padding-bottom: 20px;
  }
  
  .question span {
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }
  
  .question input {
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
  }
  
  .question select {
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
  }

  .question input.box {
    transform : scale(2);
    margin: 10px;

  }

